body { background: url(../images/fondo.jpg); }
#bkg_shade { position: fixed; width: 100%; z-index: -1; bottom: 0; }

#header { background-image: url(../images/header.png); height: 130px; overflow: hidden; text-align: center; }
#header .fireLine { background: url("../images/fire.png") no-repeat scroll center -35px transparent; background-color: black; margin-top: 25px; }
.fireLine { height: 75px; }
#fire { width: 650px; position: absolute; }
#colimma { margin: 8px 350px 0 0; height: 60px; }
#header .menu { width:100%; height: 30px; background: url(../images/header_menu_bkg.jpg) repeat-x; }
#header .menu ul { padding-top: 6px; }
#header .menu ul li { display: inline; margin: 0 50px; font-weight: bold; color: black; }
#header .menu ul li a { color: silver; font-weight: bold; text-decoration: none; }

#main_container { width: 950px; margin: 0 auto 50px auto; padding: 30px; -moz-border-radius:0 0 15px 15px; border-radius: 0 0 15px 15px; -webkit-border-radius: 0 0 15px 15px; background-color:silver; -webkit-border-radius: 0 0 15px 15px; border-radius: 0 0 15px 15px; min-height: 600px; }

#footer { width: 950px; margin: 0 auto; }
#footer .menuContainer { width: 40%; text-align: center; background-color: black; margin: 0 100px 50px; padding: 10px; -moz-border-radius: 10px; float: left; }
#footer .menuContainer a { padding: 0 10px; }
#footer .menuContainer,
#footer .menuContainer a:active,
#footer .menuContainer a:link,
#footer .menuContainer a:visited { color: silver; text-decoration: none; font-weight: bold; }

#footer .visitsContainer { width: 25%; font-weight: bold; color: silver; text-align: center; float: left; padding: 5px 0 7px; background-color: black; -moz-border-radius: 10px; border-radius: 10px; -webkit-border-radius:15px; }
#footer .visitsContainer .visitsCounter { height: 20px; margin-top: 5px; }

